.profile-btn {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    padding: 0;
}

.nav-login-pic {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 2%;
    top: 25%;
}

#nav-login-pic {
    position: relative;
    font-size: 30px;
}

#nav-login-pic:hover {
    cursor: pointer;
}
