#nav-blank-user {
    position: relative;
    font-size: 30px;
}

#nav-login-pic:hover {
    cursor: pointer;
}

.logged-in-pic {
    height: 31px;
    width: 31px;
    position: absolute;
    right: 0;
}