a {
    color: white;
    font-size: 20px;
}


.nav-tab-1, .nav-tab-2, .nav-tab-3, .nav-tab-4 {
    margin: 0 20px;
    color: white;
}

.active {
    color: rgb(43, 163, 238);
    margin-top: -8px;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 163, 238);
}