a {
    color: black;
    font-size: 20px;
    padding: 0
}


.nav-tab-3, .nav-tab-4 {
    margin: 0 30px;
    color: white;
    padding: 0;
}

.nav-tab-2 {
    margin-left: 46px;
    margin-right: 30px;
    color: white;
    padding: 0;
}

.nav-tab-1 {
    padding-top: 12px;
}
a.nav-link-1 {
    font-size: 12px;
    font-family: 'Pacifico', cursive;
    
}

a.nav-link.active {
    color: rgb(43, 163, 238);
    padding: 8px 0px;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 163, 238);
}



@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
}