.profile-jumbotron {
    padding-top: 150px;
    background-color: rgb(243, 241, 241);
}

.profile-pic-div {
    height: 300px;  
}

.p-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.user-info { 
    font-size: 25px;
    text-align: left;
    height: 100px;
}

.user-post-info {
    font-size: 25px;
    text-align: left;
    height: 100px;
}

@media (max-width: 767.98px) {
    .user-info { 
        font-size: 20px;
        text-align: center;
    }
    .user-post-info {
        font-size: 20px;
        text-align: center;
    }
} 