.profile-jumbotron {
    padding-top: 150px;
    background-color: rgb(243, 241, 241);
}

.profile-pic-div {
    height: 300px;  
}
#profile-pic-blank {
    font-size: 260px;

}

.p-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.user-info { 
    font-size: 25px;
    text-align: left;
    height: 100px;
}

.col-info {
    padding-top: 30px;
}

.user-post-info {
    font-size: 25px;
    text-align: left;
    height: 100px;
}

.user-info:focus {
    outline: none;
}

.firstLastNamefocus {
    background-color: #fff;
}

@media (max-width: 767.98px) {
    .profile-jumbotron {
        padding-top: 100px;
    }
    .col-info {
        padding-top: 0;
    }
    .user-info { 
        font-size: 20px;
        text-align: center;
    }
    .user-post-info {
        font-size: 20px;
        text-align: center;
    }
} 