.login-div a {
    font-size: 17px;
    margin-bottom: 12px;
}

.login-div {
    position: absolute;
    right: 70px;
    top: 25px;
    color: black;
}
.login-div:hover {
    cursor: pointer;
    color: rgb(43, 163, 238);
}