.login-div a {
    font-size: 17px;
    color: white;
    margin-bottom: 8px;
}

.login-div {
    position: absolute;
    right: 60px;
    color: white;
}
.login-div:hover {
    cursor: pointer;
    color: rgb(43, 163, 238);
}

a .login {
    font-size: 17px;
    color: white;
    margin-bottom: 8px;
}