.login-div a {
    font-size: 17px;
    float: left;
    /* margin-bottom: 12px; */
}

.login-div {
    position: relative;
    margin: 0 30px;
    /* right: 70px;
    top: 19px; */
    color: black;
}
.login-div:hover {
    cursor: pointer;
    color: rgb(43, 163, 238);
}