.login-title {
    margin-bottom: 15px;
}

.login-title-login {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: rgb(43, 163, 238);
}

.image-div {
    margin-bottom: 15px;
}

input {
    margin: 0;
}

.login-content {
    padding: 0;
}


.username-input, .password-input {
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    padding-left: 8px;
}

button.login-btn {
    margin-bottom: 1rem;
    padding: 3px 10px; 
    border-radius: 10px;
    background-color: white;
    color: rgb(43, 163, 238);
    border: 1px solid rgb(43, 163, 238);
}

button.login-btn:hover {
    background-color: rgb(43, 163, 238);
    color: white;
}

.sign-up-link {
    cursor: pointer;
    font-size: 1rem;

}

.sign-up {
    color: rgb(43, 163, 238);
}

.sign-up:hover {
    color: rgb(102, 196, 255);
}