.about-top-div {
    background-color: rgb(243, 241, 241);
    

}
/* 
.about-left-col {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-right-col {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
} */

.col-left {
    background-color: white;
    margin: 100px 0;
    padding: 32px;
    border: 1px solid rgb(214, 214, 214) !important;
}

.about-nav {
    font-size: 20px;
    color: #2BA3EE;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(214, 214, 214) !important;
}
.about-the-app-div, .about-the-creators-div {
    margin-top: 16px;
}

.about-nav-link, .about-nav-link {
    font-size: 16px;
    color: black;
}
.about-the-app-div:hover, .about-the-creators-div:hover {
    margin-top: 16px;
    cursor: pointer;
    color: #2BA3EE;
}


.col-right {
    background-color: white;
    margin: 100px 0;
    padding: 32px;
    border: 1px solid rgb(214, 214, 214) !important;
    border-left: none !important;
}

.title-about-div {
    padding: 16px 0;
    font-size: 35px;
}

.title-the-bug-div .navbar-brand {
    margin-right: 5px;
}
.title-the-bug-div {
    font-size: 20px;
}

.about-content-div {
    padding-top: 16px;
}

.developers-div {
    border-top: 1px solid rgb(214, 214, 214);
    
}
.title-word-travel {
    padding-top: 40px;
}

.title-word-bug {
    font-family: 'Pacifico', cursive;
    color: rgb(43, 163, 238);
}

.dev-pic-div {
    padding-top: 16px;
}

.dev-profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.dev-name {
    font-size: 25px;
    padding: 16px 0;
}
.dev-info {
    border-bottom: 1px solid rgb(214, 214, 214);
}


@media (max-width: 991.98px) {
    .col-left {
        margin-top: 100px;
        margin-bottom: 0;
        
    }
    .col-right {
        border-top: none !important;
        border-left: 1px solid rgb(214, 214, 214) !important;
        margin-top: 0;
        margin-bottom: 100px;
    }
}

@media (max-width: 767.98px) {
    .col-left {
        margin-top: 100px;
        margin-bottom: 0;
        
    }
    .col-right {
        border-top: none !important;
        border-left: solid !important;
        border-left-color: rgb(214, 214, 214) !important;
        border-left-width: 1px !important;
        margin-top: 0;
        margin-bottom: 100px;
    }
}