.navbar-content {
    width: 100%;
    position: fixed;
    z-index: 15;
    background-color: white;
    opacity: .95;
}
.navbar {
    height: 65px;
    position: relative;
    border-bottom: 1px solid rgb(214, 214, 214) !important;
}

.navbar-toggler .collapsed {
    padding: 0;
    border: none;
    width: 30px;
}

.navbar-toggler-btn {
    color: rgb(43, 163, 238);
    font-size: 20px;
    padding: 12px;
    margin: 0;
    
}
.navbar-toggler-btn:hover {
    color: rgb(102, 196, 255);
    
}
.show {
    background-color: white;
}


.top-login {
    position: absolute;
    right: 25px;
    float: left;
}

a.nav-link.login {
    margin-right: 15px;
    margin-top: 2px;
    padding: 8px 0;
}

.post-btn-div {
    position: absolute;
    right: 50px;
    top: 800%;
}

.post-btn {
    background-color: white;
    color: rgb(43, 163, 238);
    border: 1px solid rgb(43, 163, 238);
    height: auto;
    width: auto;
    border-radius: 5px;
    padding: 7px;

}

.post-btn:hover {
    background-color: rgb(43, 163, 238);
    color: white;
}

.post-text {
    font-size: 17px;
}

.fa-plus {
    font-size: 30px;
    margin: 0;
}

@media (max-width: 991.98px) {

    a.nav-link.login {
        margin-right: 15px;
        margin-top: 0px;
        padding: 0px 0;
    }
    .top-login {
        position: relative;
        right: 0;
        padding: 8px 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .nav-link.login {
        font-size: 20px;
        padding: 8px 0;
    }
}