.navbar-content {
    width: 100%;
    position: fixed;
    z-index: 11;
    background-color: white;
    opacity: .95;
    
    /* background-color: rgb(53, 53, 53); */
}
.navbar {
    height: 65px;
    /* padding: 1rem; */
    position: relative;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: rgb(43, 163, 238);
    border-radius: 10%;
    font-size: 15px;
    width: 30px;
}

.navbar-toggler-icon:hover {
    background-color: rgb(34, 135, 197);
    
}