.navbar-content {
    width: 100%;
    position: fixed;
    z-index: 15;
    background-color: white;
    opacity: .95;
}
.navbar {
    height: 65px;
    position: relative;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: rgb(43, 163, 238);
    border-radius: 10%;
    font-size: 15px;
    width: 30px;

}
.show {
    background-color: white;
}

.navbar-toggler-icon:hover {
    background-color: rgb(34, 135, 197);
    
}
.top-login {
    position: absolute;
    right: 25px;
    float: left;
}

a.nav-link.login {
    margin-right: 15px;
    margin-top: 2px;
    padding: 8px 0;
}

@media (max-width: 991.98px) {

    a.nav-link.login {
        margin-right: 15px;
        margin-top: 0px;
        padding: 0px 0;
    }
    .top-login {
        position: relative;
        right: 0;
        padding: 8px 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .nav-link.login {
        font-size: 20px;
        padding: 8px 0;
    }
}