.new-posts {
    text-align: center;
    font-size: 30px;
    background-color: rgb(243, 241, 241);
    padding-bottom: 150px;
}

.posts-title {
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(243, 241, 241); 
    border-bottom: 1px solid rgb(214, 214, 214) !important;  

}
