.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: auto;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
  }
  .likes-body, .place-body {
    height: 40px;
    text-align: left;
    padding: 0 10px;
  }
  .place-body {
    margin-bottom: 15px;
  }
  .card-image {
    height: 100%;
    width: 100%; 
  }

  .card-username {
    font-size: 15px;
    float: left;
    margin: 13px 8px;
  }

  .profile-pic {
    height: 35px;
    width: 35px;
    float: left;
    margin: 7px;
  }

  .fas {
    font-size: 20px;
    top: 20;
  }
  .heart-icon-div {
    float: left;
  }

  .place-icon-div {
    float: left;
  }

  .card-place, .card-likes {
    font-size: 15px;
    float: left;
    margin: 0 8px;
  }
  #heart-icon:hover {
    color: red;
  }
  #place-icon {
    color: rgb(43, 163, 238);
    padding-bottom: 10px;
  }

  .card-likes, .card-place {
    margin: 20px 9px;
  }