.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: auto;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
  }
  .card-body {
    text-align: left;
    padding: 10px;
  }
  .card-image {
    height: 100%;
    width: 100%; 
  }

  .card-place {
    font-size: 15px;
  }

  .card-username {
    font-size: 15px;
    float: left;
    margin: 13px 8px;
  }

  .profile-pic {
    height: 35px;
    width: 35px;
    float: left;
    margin: 7px;
  }

  .fas {
    font-size: 20px;
  }

  .location-icon-div {
    float: left;
  }

  .card-place {
    font-size: 15px;
    float: left;
    margin: 13px 8px;
  }