
.footer {
  margin-top: 50px;
  height: 105px;
  background: blue;
  bottom: 0;
}
  
  .footer div {
    margin-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    background: red;
  }