.signup-form {
    padding: 10px 0px;
}

.signup-form input {
    float: left;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    padding-left: 8px;
} 

.modal-content .forms {
    padding: 0 70px;
}

.signup-content .navbar-brand {
    padding: 0;
    margin: 0;
}
.signup-content .bug-logo{
    height: 60px;
    width: 60px;
}

.signup-title {
    margin-top: 10px;
    padding-bottom: 10px;
}

.signup-title-signup {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: rgb(43, 163, 238);
}

.signup-form div {
    float: left;
}

.password-div .password-input {
    padding-right: 40px;
    width: 177px;
}
.password-div .password-display {
    margin-left: -40px;
}

.signup-button-div {
    width: 100%;

}

button.signup-btn {
    margin-bottom: 1rem;
    padding: 3px 10px; 
    border-radius: 10px;
    background-color: white;
    color: rgb(43, 163, 238);
    border: 1px solid rgb(43, 163, 238);
}

button.signup-btn:hover {
    background-color: rgb(43, 163, 238);
    color: white;
}

.login-form-link-div, .already-cool-kid {
    width: 100%;
    text-align: center;
}

.login-form-link {
    cursor: pointer;
    font-size: 1rem;

}

.login-form-link-div {
    color: rgb(43, 163, 238);
}

.login-form-link-div:hover {
    color: rgb(102, 196, 255);
}
