input {
    margin: 1rem auto;
}

button.signup-btn {
    margin-bottom: 1rem;
    padding: 0 10px; 
    border-radius: 10px;
    background-color: rgb(43, 163, 238);
}

button.signup-btn:hover {
    background-color: rgb(102, 196, 255);
}

.password-div {
    
}

.password-input {
    z-index: 1;
}

.password-hide {
    z-index: 2;
    right: 20px;
}